<!-- <div class=container>
    <h2 class="text-muted">Añadir sucursal</h2>
    <div class=space></div>
    <form #formRegisterBranchOffice="ngForm" (ngSubmit)="addBranchOffice(formRegisterBranchOffice)">
    <div class="row">
        <div class="col-md-12">
                <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="branchOffice.id">
            <label for="planta">Seleccione planta perteneciente:</label>  
            <div class=form-group>
                <select class=form-control name="planta" id="planta" [(ngModel)]="branchOffice.planta" #planta="ngModel">
                    <option selected *ngFor="let plant of plants" value="{{plant.id}}">{{plant.nombre}}</option>
                </select>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="direccion" required
                    placeholder="Dirección" [(ngModel)]="branchOffice.direccion" #direccion="ngModel">
            </div>
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                class="alert alert-danger">

                <div *ngIf="direccion.errors.required">
                    La dirección es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="codigoPostal" maxlength="10" placeholder="Código postal"
                    required [(ngModel)]="branchOffice.codigoPostal" #codigoPostal="ngModel"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div *ngIf="codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched)"
                class="alert alert-danger">

                <div *ngIf="codigoPostal.errors.required">
                    El código postal es requerido.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="ciudad"
                    placeholder="Ciudad" required onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="branchOffice.ciudad" #ciudad="ngModel">
            </div>
            <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)"
                class="alert alert-danger">

                <div *ngIf="ciudad.errors.required">
                    La ciudad es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="telefono" maxlength="15" placeholder="Teléfono"
                    required
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [(ngModel)]="branchOffice.telefono" #telefono="ngModel">
            </div>
            <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                class="alert alert-danger">

                <div *ngIf="telefono.errors.required">
                    El teléfono es requerido.
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="row">
            <div class="col-6" *ngIf="edit==false">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </div>
            <div class="col-6" *ngIf="edit==true">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="resetForm(formRegisterBranchOffice)">Vaciar campos</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="container">
        <div>
            <div class="hr-sect"></div>
            <h2 class="text-muted">Sucursales registradas</h2>
            <table class="table table-striped table-responsive-md" style="text-align: center;">
                <thead>
                    <tr>
                        <td>Planta perteneciente</td>
                        <td>Dirección</td>
                        <td>Código postal</td>
                        <td>Ciudad</td>
                        <td>Teléfono</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                    <div class="hr-sect"></div>
                    <tr *ngFor="let branchOffice of branchOffices">
                        <td> {{branchOffice.planta}} </td>
                        <td> {{branchOffice.direccion}} </td>
                        <td> {{branchOffice.codigoPostal}} </td>
                        <td> {{branchOffice.ciudad}} </td>
                        <td> {{branchOffice.telefono}} </td>
                        <td><button class="none" (click)="preEditBranchOffice(branchOffice)"><i
                            class="fa fa-pencil-square-o"></i></button></td>
                        <td><button class="none" (click)="deleteBranchOffice(branchOffice.id, branchOffice)"><i
                            class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-10">
        <h2 class="text-muted">Sucursales registradas</h2>
    </div>
    <div class="col-2">
        <button class="btn btn-success" (click)="openFormModal()"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
</div>
<app-datatable 
[columns]="columns"
[data]="dataTable"
[sizeData]="sizeData"
(filters)="searchWithFilters($event)"
(clickBtns)="clickBtns($event)"></app-datatable>