<div class=container>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h2 class="text-muted">Clientes registrados</h2>
            </div>
            <div class="col-2">
                <button class="btn btn-success" (click)="openFormModal()"><i class="fa fa-plus"></i> Nuevo</button>
            </div>
        </div>
        <app-datatable 
            [columns]="columns"
            [data]="dataTable"
            [sizeData]="sizeData"
            (filters)="searchWithFilters($event)"
            (clickBtns)="clickBtns($event)"></app-datatable>
        <!-- <div>
            <div class="hr-sect"></div>
            <h2 class="text-muted">Clientes registrados</h2>
            <table class="table table-striped table-responsive-md" style="text-align: center;">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Contacto</td>
                        <td>Zona</td>
                        <td>Teléfono</td>
                        <td>Estatus</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                    <div class="hr-sect"></div>
                    <tr *ngFor="let customer of customers">
                        <td> {{customer.nombre}} </td>
                        <td> {{customer.contacto}} </td>
                        <td> {{customer.zona}} </td>
                        <td> {{customer.telefono}} </td>
                        <td *ngIf="customer.estatus==true"> Activo </td>
                        <td *ngIf="customer.estatus==false"> Inactivo </td>
                        <td><button class="none" (click)="preEditCustomer(customer)"><i
                                    class="fa fa-pencil-square-o"></i></button></td>
                        <td><button class="none" (click)="deleteEmployee(customer.id, customer)"><i
                                    class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </thead>
            </table>
        </div> -->
    </div>
</div>
