<div class="modal-header">
  <h4 class="modal-title">Añadir planta</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #formRegisterPlant="ngForm">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="plant.id">
            <div class=form-group>
                <input class=form-control type="text" name="nombre" id="nombre" required
                    placeholder="Nombre de la Planta" required
                    onkeypress="return /^[a-zA-Z 0-9 \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="plant.nombre"
                    #nombre="ngModel">
            </div>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">

                <div *ngIf="nombre.errors.required">
                    El nombre de la planta es requerido.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="direccion" required placeholder="Dirección"
                    [(ngModel)]="plant.direccion" #direccion="ngModel">
            </div>
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">

                <div *ngIf="direccion.errors.required">
                    La dirección es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="ciudad" required
                    placeholder="Ciudad" onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
                    [(ngModel)]="plant.ciudad" #ciudad="ngModel">
            </div>
            <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="alert alert-danger">

                <div *ngIf="ciudad.errors.required">
                    La ciudad es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="telefono" maxlength="15" placeholder="Teléfono"
                    required
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="plant.telefono" #telefono="ngModel">
            </div>
            <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">

                <div *ngIf="telefono.errors.required">
                    El teléfono es requerido.
                </div>
            </div>
            <label for="status">Estatus</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estatus" id="activo" value="true" checked
                    [(ngModel)]="plant.estatus" #estatus="ngModel" [value]="true">
                <label class="form-check-label" for="exampleRadios1">
                    Activo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estatus" id="inactivo" value="false"
                    [(ngModel)]="plant.estatus" #estatus="ngModel" [value]="false">
                <label class="form-check-label" for="exampleRadios2">
                    Inactivo
                </label>
            </div>
            <div class="space"></div>
        </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addPlant(formRegisterPlant)">Guardar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>