<!-- <form>
    <div class=container> -->
        <!-- <h2 class="text-muted">Añadir empleado</h2>
        <div class=space></div>
        <form #formRegisterEmployee="ngForm" (ngSubmit)="addEmployee(formRegisterEmployee)">
        <div class="row">
            <div class="col-md-6">
                    <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="employee.id">
                <div class=form-group>
                    <input class=form-control type="text" name="nombre" required
                        placeholder="Nombre" onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="employee.nombre" #nombre="ngModel">
                </div>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">

                        <div *ngIf="nombre.errors.required">
                            El nombre es requerido.
                        </div>
                </div>
                <div class=form-group>
                    <input class=form-control type="text" name="apellidos" required
                        placeholder="Apellido" onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="employee.apellidos" #apellidos="ngModel">
                </div>
                <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="alert alert-danger">

                        <div *ngIf="apellidos.errors.required">
                            Los apellidos son requeridos.
                        </div>
                    </div>
                <div class=form-group>
                    <input class=form-control type="text" name="telefono" maxlength="15" required placeholder="Teléfono"
                        [(ngModel)]="employee.telefono" #telefono="ngModel"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">

                        <div *ngIf="telefono.errors.required">
                            El teléfono es requerido.
                        </div>
                    </div>
                <div class="form-group">
                    <label class=text-muted for="fechaNacimiento">Fecha de nacimiento</label>
                    <input class=form-control type="date" name="fechaNacimiento" [(ngModel)]="employee.fechaNacimiento" #fechaNacimiento="ngModel">
                </div>
                <div *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)" class="alert alert-danger">

                        <div *ngIf="fechaNacimiento.errors.required">
                            La fecha de nacimiento es requerida.
                        </div>
                    </div>
                <div class=form-group>
                    <input class=form-control type="text" name="direccion" required
                        placeholder="Dirección" onkeypress="return /^[a-zA-Z # 0-9 . \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="employee.direccion" #direccion="ngModel">
                </div>
                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">

                        <div *ngIf="direccion.errors.required">
                            La dirección es requerida.
                        </div>
                    </div>
                <label for="status">Seguro Social</label>
                <div class="form-check">
                        <input class="form-check-input" type="radio" name="seguroSocial" id="activo" value="true" checked
                            [(ngModel)]="employee.seguroSocial" #seguroSocial="ngModel" [value]="true">
                        <label class="form-check-label" for="exampleRadios1">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="seguroSocial" id="inactivo" value="false"
                            [(ngModel)]="employee.seguroSocial" #seguro_social="ngModel" [value]="false">
                        <label class="form-check-label" for="exampleRadios2">
                            No
                        </label>
                    </div>
                <div class="space"></div>
                <label for="planta">Seleccione tipo de empleado:</label>
                <div class="form-group">
                    <select class=form-control name="tipoEmpleado" id="tipoEmpleado" [(ngModel)]="employee.tipoEmpleado" #tipoEmpleado="ngModel">
                        <option value="Administrador">Administrador</option>
                        <option value="Ayudante">Ayudante</option>
                        <option value="Cajero">Cajero</option>
                        <option value="Chofer">Chofer</option>
                        <option value="Gerente">Gerente</option>
                    </select>
                </div>
                <div *ngIf="tipoEmpleado.invalid && (tipoEmpleado.dirty || tipoEmpleado.touched)" class="alert alert-danger">

                        <div *ngIf="tipoEmpleado.errors.required">
                            El tipo de empleado es requerido.
                        </div>
                    </div>
                <div class=space></div>
            </div>
            <div class="col-md-6">
                <label for="planta">Seleccione planta perteneciente:</label>
                <div class=form-group>
                    <select class=form-control name="planta" id="planta" [(ngModel)]="employee.planta"
                        #planta="ngModel">
                        <option  *ngFor="let plant of plants" value="{{plant.id}}">{{plant.nombre}}</option>
                    </select>
                </div>
                <div *ngIf="planta.invalid && (planta.dirty || planta.touched)" class="alert alert-danger">

                        <div *ngIf="nombre.errors.required">
                            El nombre de la planta es requerido.
                        </div>
                    </div>
                <label for="planta">Seleccione sucursal:</label>  
            <div class=form-group>
                <select class=form-control name="sucursal" id="sucursal" [(ngModel)]="employee.sucursal" #sucursal="ngModel">
                    <option selected *ngFor="let branchOffice of branchOffices" value="{{branchOffice.id}}">{{branchOffice.id}}</option>
                </select>
            </div>
                <div class="form-group">
                    <label class=text-muted for="fechaIngreso">Fecha de ingreso</label>
                    <input class=form-control type="date" name="fechaIngreso" [(ngModel)]="employee.fechaIngreso" #fechaIngreso="ngModel">
                </div>
                <label for="planta">Seleccione estatus:</label>
                <div class="form-group">
                    <select class=form-control name="estatus" id="estatus" [(ngModel)]="employee.estatus" #estatus="ngModel">
                        <option value="Registrado">Registrado</option>
                        <option value="Suspendido">Suspendido</option>
                        <option value="Eliminado">Eliminado</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" *ngIf="edit==false">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </div>
            <div class="col-6" *ngIf="edit==true">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="resetForm(formRegisterEmployee)">Vaciar campos</button>
            </div>
        </div>
        </form>
        <hr> -->
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-10">
                    <h2 class="text-muted">Empleados registrados</h2>
                </div>
                <div class="col-2">
                    <button class="btn btn-success" (click)="openFormModal()"><i class="fa fa-plus"></i> Nuevo</button>
                </div>
            </div>
            <app-datatable 
            [columns]="columns"
            [data]="dataTable"
            [sizeData]="sizeData"
            (filters)="searchWithFilters($event)"
            (clickBtns)="clickBtns($event)"></app-datatable>
            <!-- <div>
                <div class="hr-sect"></div>
                <h2 class="text-muted">Empleados registrados</h2>
                <table class="table table-striped table-responsive" style="text-align: center;">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Apellidos</td>
                            <td>Teléfono</td>
                            <td>Fecha de nacimiento</td>
                            <td>Dirección</td>
                            <td>Seguro social</td>
                            <td>Tipo de empleado</td>
                            <td>Empresa</td>
                            <td>Sucursal</td>
                            <td>Fecha de ingreso</td>
                            <td>Estatus</td>
                            <td>Editar</td>
                            <td>Eliminar</td>
                        </tr>
                        <div class="hr-sect"></div>
                        <tr *ngFor="let employee of employees">
                            <td> {{employee.nombre}} </td>
                            <td> {{employee.apellidos}} </td>
                            <td> {{employee.telefono}} </td>
                            <td> {{employee.fechaNacimiento}} </td>
                            <td> {{employee.direccion}} </td>
                            <td *ngIf="employee.seguroSocial==true"> Sí </td>
                            <td *ngIf="employee.seguroSocial==false"> No </td>
                            <td> {{employee.tipoEmpleado}} </td>
                            <td> {{employee.planta}} </td>
                            <td> {{employee.sucursal}}</td>
                            <td> {{employee.fechaIngreso}} </td>
                            <td> {{employee.estatus}} </td>
                            <td><button class="none" (click)="preEditEmployee(employee)"><i
                                class="fa fa-pencil-square-o"></i></button></td>
                            <td><button class="none" (click)="deleteEmployee(employee.id, employee)"><i
                                class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    </thead>
                </table>
            </div> -->
        <!-- </div> -->
    <!-- </div>

</form> -->