<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>      
            <th *ngFor="let column of columns" [ngClass]="column.class" [hidden]="!column.show">
              {{column.text}}
              <input [attr.id]="column.id" class="form-control form-control-sm" *ngIf="column.showInput && column.show" (keyup)="onKey($event, column)" [(ngModel)]="column.value">
              
              <select [attr.id]="column.id" class="form-control form-control-sm" *ngIf="column.isSelect && column.show" (change)="changeSelect(column)"  [(ngModel)]="column.value">
                <option *ngFor="let select of column.dataSelect" [value]="select.value">{{select.name}}</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="data.length > 0">
          <tr *ngFor="let row of data; let i = index">
            <td *ngFor="let item of row" [hidden]="!item.show">
              <span>{{item.text}}</span>

              <span *ngIf="item.isStatus && item.value == true" class="badge badge-success"> ACTIVO</span>
              <span *ngIf="item.isStatus && item.value == false" class="badge badge-danger"> INACTIVO</span>

              <span *ngIf="item.isStatus && item.value == 'Registrado'" class="badge badge-success"> REGISTRADO</span>
              <span *ngIf="item.isStatus && item.value == 'Suspendido'" class="badge badge-warning"> SUSPENDIDO</span>
              <span *ngIf="item.isStatus && item.value == 'Eliminado'" class="badge badge-danger"> ELIMINADO</span>

              <button [hidden]="!item.isButtons" *ngFor="let button of item.buttons" [ngClass]="button.class" (click)="clickBtn(button, i)" [attr.title]="button.title"><i [ngClass]="button.icon"></i> {{button.text}}</button>

            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="data.length > 0">
            <td [attr.colspan]="columns.length">
              <div class="row col-xl-12 col-lg-12 col-md-12">
                <div class="col-xl-7 col-lg-8">
                  <ngb-pagination [collectionSize]="sizeData" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="mt-2" (pageChange)="changePage()"></ngb-pagination>
                </div>
                <div class="col-xl-5 col-lg-4">
                  <div class="form-group row row-select-size-pagination ">
                    <label class="col-xl-8 col-lg-6 col-md-6 col-form-label size-and-style-text" style="text-align: right;">Registros por página:</label>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <select  class="form-control form-control-sm col-lg-12" (ngModelChange)="onChangeSizeData($event)" [(ngModel)]="selectedItemSize">                
                        <option *ngFor="let size of sizesShowData">{{size}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </td>
        </tfoot>
      </table>
    </div>
  </div>
</div>