<!-- <div class=container>
  <h2 class="text-muted">Añadir producto</h2>
  <div class=space></div>
  <form #formRegisterStock="ngForm" (ngSubmit)="addStock(formRegisterStock)">
    <div class="row">
      <div class="col-md-12">
        <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="inventory.id">
        <label for="stock">Seleccione producto:</label>
        <div class=form-group>
          <select class=form-control name="producto" id="producto" [(ngModel)]="inventory.producto" #producto="ngModel">
            <option selected *ngFor="let product of products" value="{{product.id}}">{{product.nombre}}</option>
          </select>
        </div>
        <label for="stock">Seleccione la sucursal:</label>
        <div class=form-group>
          <select class=form-control name="sucursal" id="sucursal" [(ngModel)]="inventory.sucursal" #producto="ngModel">
            <option selected *ngFor="let sucursal of sucursales" value="{{sucursal.id}}">{{sucursal.ciudad}} {{sucursal.direccion}}</option>
          </select>
        </div>
        
        <div class=form-group>
          <input class=form-control type="text" name="observaciones" placeholder="Observaciones" required
          onkeypress="return /^[a-zA-Z 0-9 \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
            [(ngModel)]="inventory.observaciones" #observaciones="ngModel">
        </div>
        <div class=form-group>
          <input class=form-control type="text" name="stock" maxlength="10" placeholder="Stock"
            required [(ngModel)]="inventory.stock" #stock="ngModel"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
        </div>
        <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="alert alert-danger">

          <div *ngIf="stock.errors.required">
            El stock es requerido.
          </div>
        </div>
        <div class=space></div>
      </div>
    </div>
    <div class="row">
      <div class="col-6" *ngIf="edit==false">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
      </div>
      <div class="col-6" *ngIf="edit==true">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="resetForm(formRegisterStock)">Vaciar
          campos</button>
      </div>
    </div>
  </form>
  <hr>
  <div class="container">
    <div>
      <div class="hr-sect"></div>
      <h2 class="text-muted">Inventario</h2>
      <table class="table table-striped table-responsive-md" style="text-align: center;">
        <thead>
          <tr>
            <td>ID</td>
            <td>Observaciones</td>
            <td>Stock</td>
            <td>Editar</td> -->
            <!--<td>Eliminar</td>-->
<!--             
          </tr>
          <div class="hr-sect"></div>
          <tr *ngFor="let inventory of stocks">
            <td> {{inventory.id}} </td>
            <td> {{inventory.observaciones}} </td>
            <td> {{inventory.stock}} </td>
            <td><button class="none" (click)="preEditStock(inventory)"><i class="fa fa-pencil-square-o"></i></button>
            </td> -->
            <!--<td><button class="none" (click)="deleteStock(inventory.id, inventory)"><i
                  class="fas fa-trash-alt"></i></button></td>-->
            
          <!-- </tr>
        </thead>
      </table>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-10">
      <h2 class="text-muted">Inventario</h2>
  </div>
  <div class="col-2">
      <button class="btn btn-success" (click)="openFormModal()"><i class="fa fa-plus"></i> Nuevo</button>
  </div>
</div>
<app-datatable 
[columns]="columns"
[data]="dataTable"
[sizeData]="sizeData"
(filters)="searchWithFilters($event)"
(clickBtns)="clickBtns($event)"></app-datatable>