<div class="modal-header">
  <h4 class="modal-title">Añadir producto</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #formRegisterStock="ngForm" (ngSubmit)="addStock(formRegisterStock)">
    <div class="row">
      <div class="col-md-12">
        <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="inventory.id">
        <label for="stock">Seleccione producto:</label>
        <div class=form-group>
          <select class=form-control name="producto" id="producto" [(ngModel)]="inventory.producto" #producto="ngModel">
            <option selected *ngFor="let product of products" value="{{product.id}}">{{product.nombre}}</option>
          </select>
        </div>
        <label for="stock">Seleccione la sucursal:</label>
        <div class=form-group>
          <select class=form-control name="sucursal" id="sucursal" [(ngModel)]="inventory.sucursal" #producto="ngModel">
            <option selected *ngFor="let sucursal of sucursales" value="{{sucursal.id}}">{{sucursal.ciudad}} {{sucursal.direccion}}</option>
          </select>
        </div>
        
        <div class=form-group>
          <input class=form-control type="text" name="observaciones" placeholder="Observaciones" required
          onkeypress="return /^[a-zA-Z 0-9 \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
            [(ngModel)]="inventory.observaciones" #observaciones="ngModel">
        </div>
        <div class=form-group>
          <input class=form-control type="text" name="stock" maxlength="10" placeholder="Stock"
            required [(ngModel)]="inventory.stock" #stock="ngModel"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
        </div>
        <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="alert alert-danger">

          <div *ngIf="stock.errors.required">
            El stock es requerido.
          </div>
        </div>
        <div class=space></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addStock(formRegisterStock)">Guardar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>