<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Bienvenido a Water World</h1>
            <form #formRegisterEmployee="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="username" class="form-control input-underline input-lg" id="username" placeholder="{{ 'Nombre de usuario' | translate }}" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}"
                        #username="ngModel">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="password" placeholder="{{ 'Password' | translate }} " [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"
                        #password="ngModel">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" (click)="onLogin()">Entrar</button>
                
            </form>
        </div>
    </div>
</div>
