/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.space {
    margin-top: 15px;
}
.hr-sect {
	display: flex;
	flex-basis: 80%;
	align-items: center;
	color: #000000;
	margin: 8px 0px;
}
.hr-sect::after {
    content: "";
	flex-grow: 1;
	background: #000000;
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}
.none{
    background: none;
    border: 0;
}

.width-100px{
	width: 100px !important;
}

