<div class="container">
  <h2 *ngIf="!this.edit" class="text-muted">Añadir usuario</h2>
  <h2 *ngIf="this.edit" class="text-muted">Editar usuario</h2>
  <div class="space"></div>
  <form #formRegisterUser="ngForm" (ngSubmit)="addUser(formRegisterUser)">
    <div class="row">
      <div class="col-md-12">
        <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="user.id">
        <div class="form-group">
          <input class="form-control" type="text" name="username" id="username"
            placeholder="Nombre de usuario" required onkeypress="return /^[a-zA-Z 0-9 \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
            [(ngModel)]="user.username" #username="ngModel">
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

          <div *ngIf="username.errors.required">
            El nombre de usuario es requerido.
          </div>
        </div>
        <!--
          
        -->
        <div class="form-group">
          <input class="form-control" type="text" name="first_name" id="first_name"
            placeholder="Nombre" required onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="user.first_name"
            #first_name="ngModel">
        </div>
        <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
          <div *ngIf="first_name.errors.required">
            El nombre es requerido.
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Apellido" required
             onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
            [(ngModel)]="user.last_name" #last_name="ngModel">
        </div>
        <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger">
          <div *ngIf="last_name.errors.required">
            El apellido es requerido.
          </div>
        </div>
        
        <div class="form-group">
          <input class="form-control" type="text" name="email" id="email" placeholder="Correo electrónico"
            [(ngModel)]="user.email" #email="ngModel" required [email]="true">
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            El correo electrónico es requerido.
          </div>
          <div *ngIf="email.errors.email">
            El correo electrónico debe ser válido.
          </div>
        </div>
        <div class="form-group">
          <input class="form-control"type="password" name="password" id="passworrd" required
            placeholder="Contraseña"
            [(ngModel)]="user.password" #password="ngModel">
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

          <div *ngIf="password.errors.required">
            La contraseña es requerida.
          </div>
        </div>
        <div class="space"></div>
        <div class="row">
          <div class="col-6" *ngIf="edit==false">
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="formRegisterUser.invalid">Guardar</button>

          </div>
          <div class="col-6" *ngIf="edit==true">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary btn-lg btn-block"
              (click)="resetForm(formRegisterUser)">Vaciar campos</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <hr>
  <!--<div class="container">
    <div>
      <div class="hr-sect"></div>
      <h2 class="text-muted">Usuarios registrados</h2>
      <table class="table table-striped table-responsive-md" style="text-align: center;">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Nombre de usuario</td>
            <td>Correo electrónico</td>
            <td>Editar</td>
            <td>Eliminar</td>
          </tr>
          <div class="hr-sect"></div>
          <tr *ngFor="let user of users">
            <td> {{user.id}} </td>
            <td> {{user.first_name}} </td>
            <td> {{user.last_name}} </td>
            <td> {{user.username}} </td>
            <td> {{user.email }}</td>
            <td><button class="none" (click)="preEditUser(user)"><i class="fa fa-pencil-square-o"></i></button>
            </td>
            <td><button class="none" (click)="deleteUser(user.id, user)"><i
                  class="fas fa-trash-alt"></i></button></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>-->
  
</div>