.space {
    margin-top: 15px;
}
.hr-sect {
	display: flex;
	flex-basis: 80%;
	align-items: center;
	color: #000000;
	margin: 8px 0px;
}
.hr-sect::after {
    content: "";
	flex-grow: 1;
	background: #000000;
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}
