<div class="modal-header">
  <h4 class="modal-title">Añadir planta</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #formRegisterBranchOffice="ngForm">
    <div class="row">
        <div class="col-md-12">
                <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="branchOffice.id">
            <label for="planta">Seleccione planta perteneciente:</label>  
            <div class=form-group>
                <select class=form-control name="planta" id="planta" [(ngModel)]="branchOffice.planta" #planta="ngModel">
                    <option selected *ngFor="let plant of plants" value="{{plant.id}}">{{plant.nombre}}</option>
                </select>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="direccion" required
                    placeholder="Dirección" [(ngModel)]="branchOffice.direccion" #direccion="ngModel">
            </div>
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                class="alert alert-danger">
  
                <div *ngIf="direccion.errors.required">
                    La dirección es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="codigoPostal" maxlength="10" placeholder="Código postal"
                    required [(ngModel)]="branchOffice.codigoPostal" #codigoPostal="ngModel"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div *ngIf="codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched)"
                class="alert alert-danger">
  
                <div *ngIf="codigoPostal.errors.required">
                    El código postal es requerido.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="ciudad"
                    placeholder="Ciudad" required onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="branchOffice.ciudad" #ciudad="ngModel">
            </div>
            <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)"
                class="alert alert-danger">
  
                <div *ngIf="ciudad.errors.required">
                    La ciudad es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="telefono" maxlength="15" placeholder="Teléfono"
                    required
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [(ngModel)]="branchOffice.telefono" #telefono="ngModel">
            </div>
            <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                class="alert alert-danger">
  
                <div *ngIf="telefono.errors.required">
                    El teléfono es requerido.
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addBranchOffice(formRegisterBranchOffice)">Guardar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>