<!-- <div class=container>
    <h2 class="text-muted">Añadir planta</h2>
    <div class=space></div>
    <form #formRegisterPlant="ngForm" (ngSubmit)="addPlant(formRegisterPlant)">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="plant.id">
                <div class=form-group>
                    <input class=form-control type="text" name="nombre" id="nombre" required
                        placeholder="Nombre de la Planta" required
                        onkeypress="return /^[a-zA-Z 0-9 \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="plant.nombre"
                        #nombre="ngModel">
                </div>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">

                    <div *ngIf="nombre.errors.required">
                        El nombre de la planta es requerido.
                    </div>
                </div>
                <div class=form-group>
                    <input class=form-control type="text" name="direccion" required placeholder="Dirección"
                        [(ngModel)]="plant.direccion" #direccion="ngModel">
                </div>
                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">

                    <div *ngIf="direccion.errors.required">
                        La dirección es requerida.
                    </div>
                </div>
                <div class=form-group>
                    <input class=form-control type="text" name="ciudad" required
                        placeholder="Ciudad" onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
                        [(ngModel)]="plant.ciudad" #ciudad="ngModel">
                </div>
                <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="alert alert-danger">

                    <div *ngIf="ciudad.errors.required">
                        La ciudad es requerida.
                    </div>
                </div>
                <div class=form-group>
                    <input class=form-control type="text" name="telefono" maxlength="15" placeholder="Teléfono"
                        required
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        [(ngModel)]="plant.telefono" #telefono="ngModel">
                </div>
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">

                    <div *ngIf="telefono.errors.required">
                        El teléfono es requerido.
                    </div>
                </div>
                <label for="status">Estatus</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estatus" id="activo" value="true" checked
                        [(ngModel)]="plant.estatus" #estatus="ngModel" [value]="true">
                    <label class="form-check-label" for="exampleRadios1">
                        Activo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estatus" id="inactivo" value="false"
                        [(ngModel)]="plant.estatus" #estatus="ngModel" [value]="false">
                    <label class="form-check-label" for="exampleRadios2">
                        Inactivo
                    </label>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" *ngIf="edit==false">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </div>
            <div class="col-6" *ngIf="edit==true">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="resetForm(formRegisterPlant)">Vaciar campos</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="container">
        <div>
            <div class="hr-sect"></div>
            <h2 class="text-muted">Empleados registrados</h2>
            <table class="table table-striped table-responsive-md" style="text-align: center;">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Dirección</td>
                        <td>Ciudad</td>
                        <td>Teléfono</td>
                        <td>Estatus</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                    <div class="hr-sect"></div>
                    <tr *ngFor="let plant of plants">
                        <td> {{plant.nombre}} </td>
                        <td> {{plant.direccion}} </td>
                        <td> {{plant.ciudad}} </td>
                        <td> {{plant.telefono}} </td>
                        <td *ngIf="plant.estatus==true"> Activo </td>
                        <td *ngIf="plant.estatus==false"> Inactivo </td>
                        <td><button class="none" (click)="preEditPlant(plant)"><i
                                    class="fa fa-pencil-square-o"></i></button></td>
                        <td><button class="none" (click)="deletePlant(plant.id, plant)"><i
                                    class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-10">
        <h2 class="text-muted">Plantas registradas</h2>
    </div>
    <div class="col-2">
        <button class="btn btn-success" (click)="openFormModal()"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
</div>
<app-datatable 
[columns]="columns"
[data]="dataTable"
[sizeData]="sizeData"
(filters)="searchWithFilters($event)"
(clickBtns)="clickBtns($event)"></app-datatable>