<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-fw fa-tachometer-alt"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/registrar-usuario']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-plus"></i>&nbsp;
            <span>{{ 'Añadir usuarios' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('customers')">
                <i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;
                <span>{{ 'Clientes' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'customers'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" routerLink="/register-customer"
                            [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>&nbsp;
                            <span>{{ 'Añadir cliente' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('employees')">
                <i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;
                <span>{{ 'Empleados' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'employees'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" routerLink="/register-employee"
                            [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>&nbsp;
                            <span>{{ 'Añadir empleado' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('plantas')">
                <i class="fa fa-fw fa-building" aria-hidden="true"></i>&nbsp;
                <span>{{ 'Plantas y sucursales' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'plantas'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" routerLink="/registrar-planta"
                            [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-plus" aria-hidden="true"></i>&nbsp;
                            <span>{{ 'Añadir planta' | translate }}</span>
                        </a>
                    </li>
                    <li>
                            <a href="javascript:void(0)" routerLink="/registrar-sucursal"
                            [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-plus" aria-hidden="true"></i>&nbsp;
                            <span>{{ 'Añadir sucursal' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('productos')">
                <i class="fas fa-boxes" aria-hidden="true"></i>&nbsp;
                &nbsp;&nbsp;&nbsp;<span>{{ 'Productos' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'productos'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" routerLink="/registrar-producto"
                            [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-plus" aria-hidden="true"></i>&nbsp;
                            <span>{{ 'Añadir producto' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/registrar-inventario']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-pallet fa-fw"></i>&nbsp;
            &nbsp;&nbsp;<span class=little-space>{{ 'Inventario' | translate }}</span>
        </a>
        <a [routerLink]="['/tipo-pagos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-money"></i>&nbsp;
            <span>{{ 'Tipo de pagos' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>

        <!--<div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>-->


        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
