<!-- <div class=container>
    <h2 class="text-muted">Añadir producto</h2>
    <div class=space></div>
    
    <hr>
    <div class="container">
        <div>
            <div class="hr-sect"></div>
            <h2 class="text-muted">Productos registrados</h2>
            <table class="table table-striped table-responsive-md" style="text-align: center;">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Descripción</td>
                        <td>Precio unitario</td>
                        <td>Unidad de medida</td>
                        <td>Categoría</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                    <div class="hr-sect"></div>
                    <tr *ngFor="let product of products">
                        <td> {{product.id}} </td>
                        <td> {{product.nombre}} </td>
                        <td> {{product.descripcion}} </td>
                        <td> {{product.precio_unitario}} </td>
                        <td> {{product.unidad_de_medida}} </td>
                        <td> {{product.categoria}} </td>
                        <td><button class="none" (click)="preEditProduct(product)"><i
                            class="fa fa-pencil-square-o"></i></button></td>
                        <td><button class="none" (click)="deleteProduct(product.id, product)"><i
                            class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-10">
        <h2 class="text-muted">Productos registrados</h2>
    </div>
    <div class="col-2">
        <button class="btn btn-success" (click)="openFormModal()"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
</div>
<app-datatable 
[columns]="columns"
[data]="dataTable"
[sizeData]="sizeData"
(filters)="searchWithFilters($event)"
(clickBtns)="clickBtns($event)"></app-datatable>