<div class="modal-header">
  <h4 class="modal-title">Añadir producto</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #formRegisterProduct="ngForm">
    <div class="row">
        <div class="col-md-6">
                <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="product.id">
            <div class=form-group>
                <input class=form-control type="text" name="nombre" required onkeypress="return /^[_A-z0-9 ñ]*((-|\s)*[_A-z0-9 ñ])+]*$/i.test(event.key)"
                    placeholder="Nombre" [(ngModel)]="product.nombre" #nombre="ngModel">
            </div>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                class="alert alert-danger">

                <div *ngIf="nombre.errors.required">
                    El nombre es requerido.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="descripcion" placeholder="Descripción" required onkeypress="return /^[a-zA-Z 0-9 \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="product.descripcion" #descripcion="ngModel">
            </div>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                class="alert alert-danger">

                <div *ngIf="descripcion.errors.required">
                    La descripción es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="precio_unitario" maxlength="15"
                    placeholder="Precio unitario" required 
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [(ngModel)]="product.precio_unitario" #precio_unitario="ngModel">
            </div>
            <div *ngIf="precio_unitario.invalid && (precio_unitario.dirty || precio_unitario.touched)"
                class="alert alert-danger">

                <div *ngIf="precio_unitario.errors.required">
                    El precio es requerido.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="unidad_de_medida" placeholder="Unidad de medida" required
                     onkeypress="return /^[a-zA-Z\s]*$/i.test(event.key)" [(ngModel)]="product.unidad_de_medida" #unidad_de_medida="ngModel">
            </div>
            <div *ngIf="unidad_de_medida.invalid && (unidad_de_medida.dirty || unidad_de_medida.touched)"
                class="alert alert-danger">

                <div *ngIf="unidad_de_medida.errors.required">
                    La unidad de medida es requerida.
                </div>
            </div>
            <div class=form-group>
                <input class=form-control type="text" name="categoria" placeholder="Categoría" required
                 onkeypress="return /^[a-zA-Z\s]*$/i.test(event.key)" [(ngModel)]="product.categoria" #categoria="ngModel">
            </div>
            <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)"
                class="alert alert-danger">

                <div *ngIf="categoria.errors.required">
                    La categoría es requerido.
                </div>
            </div>
            <label for="file">Imagen del producto (opcional)</label>
            <div class="form-group">
                <input #file type="file" name="foto" id="foto" (change)="onFileSelected($event)" (change)="preview(file.files)" [(ngModel)]="product.foto" #foto="ngModel">
            </div>
            <div class=space></div>
        </div>
        <div class="col-md-6 w-100">
            <div class=item *ngIf="!this.product.foto">
               <img src="../../../../assets/images/default.png" alt="" srcset=""> 
            </div>
            <div class=item>
                <img src="{{this.product.foto}}" alt="">
            </div>
            <div class="item" *ngIf="imgURL">
                <img [src]="imgURL" height="200" >
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-6" *ngIf="this.edit==false">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
        </div>
        <div class="col-6" *ngIf="this.edit==true">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="editProduct(formRegisterProduct)">Guardar cambios</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="resetForm(formRegisterProduct)">Vaciar campos</button>
            </div>
    </div> -->
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="edit ? editProduct(formRegisterProduct) : onUpload(formRegisterProduct)">Guardar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>