<div class="modal-header">
  <h4 class="modal-title">Añadir cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <h2 class="text-muted">Añadir cliente</h2> -->
    <!-- <div class=space></div> -->
    <form #formRegisterCustomer="ngForm">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="customer.id">
                <div class=form-group>
                    <input class=form-control type="text" name="nombre" id="nombre" placeholder="Nombre*" required
                        onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="customer.nombre"
                        #nombre="ngModel">
                </div>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">

                    <div *ngIf="nombre.errors.required">
                        El nombre es requerido.
                    </div>
                </div>
                <div class=form-group>
                    <input class=form-control type="text" name="contacto" id="contacto" placeholder="Contacto*" required
                     onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
                        [(ngModel)]="customer.contacto" #contacto="ngModel">
                </div>
                <div *ngIf="contacto.invalid && (contacto.dirty || contacto.touched)" class="alert alert-danger">
                    <div *ngIf="contacto.errors.required">
                        El contacto es requerido.
                    </div>
                </div>
                <div class=form-group>
                    <input class=form-control type="text" name="zona" id="zona" placeholder="Zona*" [(ngModel)]="customer.zona"
                        #zona="ngModel" required>
                </div>
                <div *ngIf="zona.invalid && (zona.dirty || zona.touched)" class="alert alert-danger">
                    <div *ngIf="zona.errors.required">
                        La zona es requerida.
                    </div>
                </div>
                <div class=form-group>
                    <input class=form-control type="text" name="telefono" maxlength="15" placeholder="Teléfono*"
                         required
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        [(ngModel)]="customer.telefono" #telefono="ngModel">
                </div>
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                    <div *ngIf="telefono.errors.required">
                        El teléfono es requerido.
                    </div>
                </div>
                <label for="status">Estatus</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estatus" id="activo" value="true" checked
                        [(ngModel)]="customer.estatus" #estatus="ngModel" [value]="true">
                    <label class="form-check-label" for="exampleRadios1">
                        Activo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estatus" id="inactivo" value="false"
                        [(ngModel)]="customer.estatus" #estatus="ngModel" [value]="false">
                    <label class="form-check-label" for="exampleRadios2">
                        Inactivo
                    </label>
                </div>
                <!-- <div class=space></div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary btn-lg btn-block"
                            (click)="resetForm(formRegisterCustomer)">Vaciar campos</button>
                    </div>
                </div> -->
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addCustomer(formRegisterCustomer)">Guardar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>