<div class="container">
    <h2 class="text-muted">Cambio de precios</h2>
    <div class="space"></div>
    <form #formRegisterPrices="ngForm">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="prices.id">
                <div class="form-group">
                    <input class="form-control" type="text" name="valor_creditos" required
                        placeholder="Valor de créditos" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        [(ngModel)]="prices.valor_creditos" #valor_creditos="ngModel">
                </div>
                <div *ngIf="valor_creditos.invalid && (valor_creditos.dirty || valor_creditos.touched)" class="alert alert-danger">

                    <div *ngIf="valor_creditos.errors.required">
                        El valor de los créditos es requerido.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="dolar" maxlength="15" placeholder="Dólar"
                        required
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        [(ngModel)]="prices.dolar" #dolar="ngModel">
                </div>
                <div *ngIf="dolar.invalid && (dolar.dirty || dolar.touched)" class="alert alert-danger">

                    <div *ngIf="dolar.errors.required">
                        El dólar es requerido.
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" *ngIf="edit==false">
                <button *ngIf="precios.length === 0" type="submit" (click)="postValores()" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </div>
            <!--*ngIf="this.edit==false"-->
            
               <div class="col-6" *ngIf="edit==true">
                <button (click)="editPrices(formRegisterPrices)" type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="resetForm(formRegisterPrices)">Vaciar campos</button>
            </div> 
        </div>
    </form>
    <hr>
    <div class="container">
        <div>
            <div class="hr-sect"></div>
            <h2 class="text-muted">Precios registrados</h2>
            <table class="table table-striped table-responsive-md" style="text-align: center;">
                <thead>
                    <tr>
                        <td>Precio del dólar</td>
                        <td>Valor de los créditos</td>
                        <td>Editar</td>
                        <!--<td>Eliminar</td>-->  
                    </tr>
                    <div class="hr-sect"></div>
                    <tr *ngFor="let precio of precios">
                        <td> {{precio.dolar}} </td>
                        <td> {{precio.valor_creditos}} </td>
                        <td><button class="none" (click)="preEditPrices(precio)"><i
                                    class="fa fa-pencil-square-o"></i></button></td>
                        <!--
                          <td><button class="none" (click)="deletePlant(plant.id, plant)"><i
                                    class="fas fa-trash-alt"></i></button></td>  
                        -->
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>